@import url("header.css");
@import url("banner.css");
@import url("carrosel.css");
@import url("contato.css");
@import url("topicos.css");
@import url("rodapé.css");
:root{
    --branco-principal:#ffffff;
    --cor-de-fundo:#EBECEE;
    --amarelo_titulo:#EB9B00;
    --cor_texto_preto:#000000;
    --azul_degrade: linear-gradient(98.64deg, #002f52 35.49%, #326589 165.37%);
    --fonte: "Poppins", sans-serif;
    --azul:#002F52;
    --cinza: #858585;

}
.principal{
background-color: var(--cor-de-fundo);
font-family:var(--fonte);
}