:root{
    --branco-principal:#ffffff;
    --cor-de-fundo:#EBECEE;
    --amarelo_titulo:#EB9B00;
    --cor_texto_preto:#000000;
    --azul_degrade: linear-gradient(98.64deg, #002f52 35.49%, #326589 165.37%);
    --fonte: "Poppins", sans-serif;
    --azul:#002F52;

}
.tópicos{
    background: var(--azul_degrade);
    text-align: center;
    padding: 1em 0;
}
.tópicos__titulo{
    color: var(--branco-principal);
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 300;
}
.tópicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tópicos__item{
    margin: 2em 0.5em;
}

.tópicos__link{
    background-color: var(--amarelo_titulo);
    padding: 1em;
    color: var(--branco-principal);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
}
@media screen and (min-width:1024px){
    .tópicos__titulo{
        font-size: 24px;
    }
    .tópicos__link{
        font-size: 24px;
    }
}
@media screen and (min-width: 1728px){
    .tópicos{
        padding: 3em 30vw;
    }
}